
<div>
    <h1>Bienvenue sur notre site</h1>
    <p>C'est la page d'accueil de notre application Angular.</p>
    <nav>
        <ul>
          <li><a href="#">Accueil</a></li>
          <li><a href="#">À propos</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>

  
    <main>
      <section>
        <h2>À propos de nous</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero et lectus convallis, sit amet fermentum nulla suscipit.</p>
      </section>
  
      <section>
        <h2>Nos services</h2>
        <ul>
          <li>Service 1</li>
          <li>Service 2</li>
          <li>Service 3</li>
        </ul>
      </section>
    </main>
  
    <footer>
      <p>&copy; 2024 Tous droits réservés</p>
    </footer>
  </div>
  
<p-button label="Sign out" (onClick)="logOut()"></p-button>
